@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        int notAccessed = 0;
        currentCount++;
    }

    public string Name2
    {
        get => _name2;
        set => _name2 = value;
    }

    private string _name2;
}
